<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Contribution Mapper</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<script src="http://cdn.zingchart.com/zingchart.min.js"></script>
	<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
</head>
<body>
	<div class="jumbotron">
      <div class="container">
        <h1 class="text-center">Contribution Mapper</h1>
        <p class="text-center">This is an infographic map of code contributions!<br />
	        <h5 class="text-center">Made by</h5>
	        <h5 class="text-center text-uppercase"><kbd>Liching Li</kbd></h5>
        </p>
      </div>
    </div>
	<%= yield %>
</body>
</html>